<a class="card-wrapper col-xs-12 col-md-3" *ngFor="let resource of resources | async">
    <resource-card title="{{resource.Title}}" [date]="resource.StartDateTime | date:'longDate'"
        [topic]="getAttributeValue(resource, 'Topic')" [type]="resource.Embed ? 'Video' : 'Article'" author="{{getAttributeValue(resource, 'Author')}}" (click)="openCard(resource)">
        <p *ngIf="resource.Embed == null || resource.Embed == ''" class="text-content">{{resource.Preview}}</p>
        <div class="preview-wrapper" *ngIf="resource.Embed != null && resource.Embed != ''">
            <img src="{{resource.Thumbnail}}" style="height: 125px;margin-left: auto; margin-right: auto;">
        </div>
    </resource-card>
</a>