<cbc-filter-bar (flyoutOpened)="flyoutOpened()" [filters]="filters" (flyoutClosed)="flyoutClosed()" (filtersChanged)="fetchResources($event)"></cbc-filter-bar>

<div class="body container" [class.blurred]="flyoutOpen">

  <div class="filter-descriptions">
    Showing
    <ng-container *ngFor="let filter of activeFilters">
      <ng-container *ngIf="filter.currentValue" [ngSwitch]="filter.type">
        <a *ngSwitchCase="0" (click)="filterClicked(filter)"><span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Type -->
        <a *ngSwitchCase="1" (click)="filterClicked(filter)"> by <span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Author -->
        <a *ngSwitchCase="2" (click)="filterClicked(filter)"> in <span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Series -->
        <a *ngSwitchCase="3" (click)="filterClicked(filter)"> from <span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Date -->
        <a *ngSwitchCase="4" (click)="filterClicked(filter)"> on <span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Scripture -->
        <a *ngSwitchCase="5" (click)="filterClicked(filter)"> on <span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Topic -->
        <a *ngSwitchCase="6" (click)="filterClicked(filter)"> results for <span class="filter-english">{{filter.currentValue.displayName}}</span></a> <!-- Search -->
      </ng-container>
    </ng-container>
  </div>

  <a class="col-xs-12 col-md-6" *ngFor="let resource of resources | async">
    <resource-card title="{{resource.title}}" type="{{resource.type}}" date="{{resource.date | date:'longDate'}}" topic="{{resource.topic}}"
      author="{{resource.author}}">
      {{resource.preview}}
    </resource-card>
  </a>
</div>