@media (min-width: 768px) {
    :host {
        font-size: 1.2rem;
    }
}


:host {
    // border-bottom: 1px solid #00000055;
    width: 100%;
    height: 70px;
    display: block;
    overflow: hidden;
    position: relative;
    color: black;

    .inner {
        height: 70px;
        min-width: 100%;
        align-items: center;
        white-space: nowrap;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
        color: black;

        text-align: center;

        padding-left: 20px;
        padding-right: 40px;

        .scroll-indicator {
            background-color: #97002e;
            position: absolute;
            bottom: 5px;
            transition: opacity .2s, left .2s, width .2s;
            opacity: 0;
            width: 100px;
            height: 3px;
            display: block;
        }
    }

    .scroll-more {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,1+50 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%,  #F7F7F7 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,#F7F7F7 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,#F7F7F7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

        width: 75px;
        position: absolute;
        right: 0px;
        top: 0px;
        bottom: 0px;
        pointer-events: none;
    }

    div.dropdown, div.search, div.home {
        display: inline-block;
        height: 70px;
        line-height: 70px;
        margin-right: 30px;
        cursor: pointer;
    }

    div.search {
        margin-right: 20px;
    }

    div.searchbox {
        max-width: 500px;
        width: 80%;
        display: inline-block;
    }

    input.search-field {
        width: 100%;
        font-size: 1.3rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
    }
}

.dropdown {
    .text {
        margin-right: 10px;
    }

    .glyph {
        font-size: 1‬rem;
        transition: transform .2s;
    }
}

.dropdown.active .glyph {
    transform: rotate(180deg);
}

.flyout.open {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.flyout {
    position: fixed;
    padding: 50px;
    overflow: auto;
    top: 70px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    background-color: rgba(133, 119, 110, .75);
    transition: clip-path .2s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);

    color: white;
    font-size: 20px;
}

.flyout a {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}