<div #inner class="inner">

    <div class="home" (click)="goHome()">
        <span class="fa fa-home"></span>
    </div>

    <div class="search" (click)="toggleSearch($event)" [class.border]="searchMode">
        <span class="fa fa-search"></span>
    </div>

    <div class="searchbox" *ngIf="searchMode">
        <input #search class="search-field" type="text" (keyup)="searchTerm$.next($event.target.value)" [value]="searchText">

        <span class="fa fa-times" style="padding-left: 15px;" (click)="toggleSearch($event)"></span>
    </div>

    <ng-container *ngIf="!searchMode">
        <div class="dropdown" *ngFor="let filter of filters" [class.active]="filter.active"
            attr.data-filter-name="{{filter.Name}}" (click)="toggleFlyout(filter, $event)" >
            <span>
                <span class="text">{{ filter.currentValue?.Display || filter.Name }}</span>
                <span class="glyph fa fa-angle-down" *ngIf="!filter.currentValue || filter.currentValue.Value == null"></span>
            </span>
            <span class="glyph fa fa-times" *ngIf="filter.currentValue && filter.currentValue.Value != null" (click)="cancelValue(filter, $event)"></span>
        </div>
    </ng-container>

    <div class="scroll-indicator" #indicator [style.opacity]="flyoutOpen ? 1 : 0"></div>
</div>


<div class="scroll-more" *ngIf="!searchMode"></div>

<div class="flyout" #flyOut [class.open]="flyoutOpen">
    <div class="container">
        <a *ngFor="let term of activeFilter?.possibleAttributeValues"
            (click)="valueSelected(activeFilter, term)">{{term.Display}}</a>
    </div>
</div>