:host {
    flex-shrink: 0;
    padding: 0;
}

// @media (min-width: 768px) {
//     :host {
//         width: 25%;
//     }
// }

.card-wrapper {
    background-color: white;

    padding: 1rem 0px 0.9rem 0px;
    // margin-left: 5%;
    // margin-right: 5%;

    min-height: 20.8rem;
    max-height: 20.8rem;

    margin: 1rem 1rem 1rem 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: nowrap;

    box-shadow: 0px 0px 2px 0px #cccccc;
    //border: 1px solid hsl(0 0% 90% / 1);

    transition: transform 0.2s;
}

.card-wrapper:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.title {
    font-size: 0.9rem;
    font-weight: 600;
    flex-grow: 0;
    padding: 0px 1rem;
    // border-bottom: 1px solid #00000011;
}

@media (min-width: 768px) {
    .title {
        font-size: 1rem;
    }
}

.text-content {
    font-size: 0.9rem;
    margin: 0;
}

.card-header {
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
    padding: 0px;

    &.full-width {
        width: 100%;

        .type {
            float: right;
        }
    }
}

// @media (min-width: 768px) {
    .card-wrapper {
        flex-direction: column;

        min-height: 20.8rem;
        max-height: 20.8rem;

        padding-bottom: 1rem;

        flex-wrap: nowrap;

        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .card-wrapper.preview-card {
        .card-header {
            min-height: 6.7rem;
        }

        .content {
            justify-content: flex-start;
        }
    }
// }

// @media (min-width: 0px) and (max-width: 991px) {
//     .card-wrapper {
//         min-height: 18rem;
//         max-height: 18rem;
//     }
//     .card-wrapper.preview-card .card-header {
//         min-height: 5.7rem;
//     }
// }


.type {
    // justify-self: flex-start;
    background-color: #b4aa9e;
    color: white;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    font-size: 0.75rem;
    // margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: -0.15rem;
    white-space: nowrap;

    float: right;
    display: block;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;

    i {
        margin-right: 0.5rem;
        display: inline-block;
    }
}

.content {
    // margin-top: 20px;
    // margin-bottom: 20px;
    overflow: hidden;
    flex-grow: 1;
    padding: 0px;

    width: auto;
    max-height: auto;
    align-self: inherit;
    margin-right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // justify-self: flex-end;

    &.full-width {
        width: 100%;
        max-height: 4em;
        display: block;
        max-height: initial;
        display: flex;
    }

    ::ng-deep p {
        padding: 0rem 1rem;
    }
}
.tagline {
    margin-bottom: 1rem;
    flex-wrap: no-wrap;
}

.card-footer {
    justify-content: space-between;

    i {
        margin-right: 0.5rem;
        display: inline-block;
        color: grey;
    }
}

.text-content {
    max-height: 12rem;
}

.audio-preview {
    font-size: 5rem;
    color: #00000011;
    text-align: center;
}

.card-footer,
.tagline {
    // border-top: 1px solid #00000011;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: flex;
    padding: 0rem 1rem 0px 1rem;
    flex-grow: 0;
    clear: both;
    justify-self: flex-end;

    div:first-child {
        padding-left: 0px;
    }

    p.text-content {
        max-height: 2.75em;
        overflow: hidden;
    }

    .scripture {
        float: left;
    }

    .topic {
        float: right;
    }
}

// .scripture, .topic {
//     border: 1px solid black;
//     padding: .14em .36em;
//     display: inline-block;
//     border-radius: 5px;
//     margin: 0px 5px;
//     text-decoration: none;
// }
